@media screen and (max-width: 760px) {

    body {
        margin: 0;
        padding: 0;
    }

    .logo {
        z-index: 2;
        position: relative;
    }

    .titulo {
        position: relative;
        z-index: 2;
        color: white;
        font-size: 50px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 100vh;
        position: relative;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .capa {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.8;
        mix-blend-mode: overlay;
    }

    .container {
        height: 100vh;
        overflow: auto;
        scroll-snap-type: y mandatory;
    }

    .snap-section {
        scroll-snap-align: start;
        min-height: 60vh;

    }

    .snap-section2 {
        scroll-snap-align: start;
        min-height: 60vh;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(12, 19, 34);
        background: linear-gradient(90deg, rgba(12, 19, 34, 1) 0%, rgba(48, 59, 78, 1) 50%, rgba(16, 15, 38, 1) 100%);
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    #canvas {
        width: 50%;
        height: 70%;
        border: 3px solid #000;
        object-fit:cover;

    }

    h2 {
        color: white;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .catalogo {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        z-index: 2;
        font-size: larger;
      }
      
      .catalogo:hover {
        background-color: #0056b3;
      }
      
}

@media screen and (min-width: 760px) {
    @font-face {
        font-family: 'personalizada';
        src: url('/fotos_logo_video_fuente/Proyecto-Regular.otf');
        font-style: normal;
        font-weight: normal;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .logo {
        z-index: 2;
        position: relative;
    }

    .titulo {
        font-family: 'personalizada';
        position: relative;
        z-index: 2;
        color: white;
        font-size: 50px;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 100vh;
        position: relative;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .capa {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.8;
        mix-blend-mode: overlay;
    }

    .container {
        height: 100vh;
        overflow: auto;
        scroll-snap-type: y mandatory;
    }

    .snap-section {
        scroll-snap-align: start;
        min-height: 60vh;

    }

    .snap-section2 {
        scroll-snap-align: start;
        min-height: 60vh;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(12, 19, 34);
        background: linear-gradient(90deg, rgba(12, 19, 34, 1) 0%, rgba(48, 59, 78, 1) 50%, rgba(16, 15, 38, 1) 100%);
        height: 100%;
        width: 100%;
        flex-direction: column;
    }

    #canvas {
        width: 50%;
        height: 70%;
        border: 3px solid #000;
        object-fit:cover;

    }

    h2 {
        color: white;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .sonido{
        margin-top: 2vh;
        background: #3498DB;
        border-radius: 10px;
        color: white;
    }
    
    .catalogo {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        z-index: 2;
        font-size: larger;
      }
      
      .catalogo:hover {
        background-color: #0056b3;
      }
      
}